<p id="notice"><%= notice %></p>

  <p><h1><%= @restaurant.name %></strong></h1></p>
  <br>



<div>
  <%= render partial: 'menu_items/items', locals: {restaurant: @restaurant, menu: @menu} %>

  <br>
  <br>
  <div>
    <% if user_signed_in? and current_user.email == "firminsa@gmail.com" %>
      <%= render partial: 'menu_items/form', locals: {restaurant: @restaurant, menu: @menu} %>
    <% end %>


  </div>
</div>

<%= link_to 'Back', restaurant_path(@restaurant), method: :get, :class => 'w3-btn' %>
