<p id="notice"><%= notice %></p>

  <p><h1><%= @restaurant.name %></strong></h1></p>
  <br>



<div>
  <%= render partial: 'menu_items/items', locals: {restaurant: @restaurant, menu: @menu} %>

  <br>
  <br>
  <div>
    <%= render "menu_items/form"%>
  </div>
</div>

<%= link_to 'Back', restaurant_path(@restaurant), method: :get %>
