<h1>Your Cart</h1>

<% if @cart.empty? %>
    <p>Your cart is currently empty</p>
<% else %>
    <%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>
<br/><br/><br/>

<% total = 0%>
<ul>
  <% @cart.each do |id, quantity| %>
      <% item = MenuItem.find_by_id(id) %>

      <li>
        <%= link_to item.name, url_for(action: 'show', controller: 'menu_items', id: item.id) %>
        <p><%= number_to_currency(item.price, :unit => '$') %></p>
        <p>Quantity: <%= quantity %></p>
      </li>
      <% total += quantity*item.price %>

  <% end %>

</ul>

<%= render partial: 'charges/new', locals: {amount: total} %>
