<table border=0  class="w3-table w3-large w3-striped w3-card-4">
  <thead>
    <tr>
      <th colspan="5"><p><strong></strong></p></th>
    </tr>
  </thead>

  <tbody>

      <tr class='height01'>
        <td class='valign'><%= image_tag item.image %></td>
        <td class='valign'><%= item.name %></td>
        <td class='valign'><%= item.description %></td>
        <td class='valign'><%= item.price %></td>
        <td class='valign'><%= link_to 'Add to Cart', url_for(action: 'add', controller: 'cart', id: item.id), :class => 'w3-btn w3-red' %></td>

      </tr>

  </tbody>
</table>
