<p id="notice"><%= notice %></p>

<h1>Available Restaurants</h1>
<br>

<table border=0  class="w3-table w3-large w3-striped w3-card-4">

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class='height02'>
        <% if user_signed_in? and current_user.email == "firminsa@gmail.com" %>
          <td class='valign'><%= image_tag restaurant.logo %></td>
          <td class='valign'><%= link_to restaurant.name, restaurant_path(restaurant), method: :get, :class => 'no-decoration' %></td>
          <td class='valign'><%= link_to 'Edit', edit_restaurant_path(restaurant), :class => 'no-decoration' %></td>
          <td class='valign'><%= link_to 'Destroy', restaurant, method: :delete, :class => 'no-decoration', data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td colspan="2" class='valign'><%= image_tag restaurant.logo %></td>
          <td colspan="2" class='valign'><%= link_to restaurant.name, restaurant_path(restaurant), method: :get, :class => 'no-decoration' %></td>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? and current_user.email == "firminsa@gmail.com"  %>
    <%= link_to 'New Restaurant', new_restaurant_path, :class => 'w3-btn w3-red' %>
<% end %>
