<!DOCTYPE html>
<html>
<head>
  <title>Yumm!</title>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='nav'>
    <div class='pages'>
      <%= link_to "Home", root_path %>
      <%= link_to "About Us", home_about_path %>
      <%= link_to "Contact Us", home_contact_path %>
      <%= link_to "FAQS", home_faqs_path %>
      <%= link_to "Restaurants", restaurants_path %>
    </div>
    <div class='auth'>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <%= link_to "Cart", cart_path%>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </nav>
  <br>
  <div class='w3-container w3-centered w3-padding-xxlarge', style='height: 600px; width: 80%;'>
    <br>
    <div class="w3-container w3-padding-xxlarge">
      <%= yield %>
    </div>
  </div>
  <br>
  <footer class="footer nav">
    <div class='pages'>
      <%= link_to "Home", root_path %>
      <%= link_to "About Us", home_about_path %>
      <%= link_to "Contact Us", home_contact_path %>
      <%= link_to "FAQS", home_faqs_path %>
      <%= link_to "Join our Team", home_faqs_path %>
      <%= link_to "Become A Partner", home_faqs_path %>
      <%= link_to "Locations", home_faqs_path %>
    </div>
  </footer>

</body>
</html>
